.connection {
  align-items: center;
  display: flex;
  font-weight: 500;
  margin: auto 0 0;
  text-transform: uppercase;
}

.connection svg {
  font-size: 2rem;
  margin: 0 0 4px 5px;
}

.connection-ok {
  color: rgb(0, 148, 0);
}

.no-connection {
  color: rgb(253, 33, 33);
}
