.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

#email, #password {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black-coral);
  border-radius: 0;
  color: var(--independence);
  outline: none;
  width: 100%;
}

#email:focus, #password:focus {
  background-color: transparent;
}
