.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black-coral);
  color: var(--independence);
  font-family: Roboto , sans-serif;
  font-size: 1.5rem;
  outline: none;
  padding: 1rem 0;
  width: 100%;
}

.login-form input:focus {
  background-color: transparent;
}

.login-email-input {
  border-radius: 0 !important;
  margin-bottom: -1px;
}

.login-password-input {
  border-radius: 0 !important;
  margin-bottom: 1rem;
}
