.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.login-form [type="email"],
.login-form [type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--black-coral);
  border-radius: 0;
  color: var(--independence);
  outline: none;
  width: 100%;
}

.login-form [type="email"]:focus,
.login-form [type="password"]:focus {
  background-color: transparent;
}
